.container{
  height: 100%;
  display: flex;
  width: 80vw;
  flex-direction: column;
  gap: 25px;
}

.column-graph {
  width: 50%;
  height: 100%;
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
  background: rgb(217 217 217 / 28%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-edit-graph{
  width: 50%;
  height: 100%;
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
  background: rgb(217 217 217 / 28%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Clear floats after the columns */
.row {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 25px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.graph {
  width: 100%;
  height: 85%;
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mat-select{
  display: flex;
  justify-content: center;
}

