<div class="container">

    <div class="column">
      <div class="row">
      <div class="graph">
        <iframe src="/assets/map/min_temp_beer_sheva.html" width="100%" height="100%" style="border:none;" seamless="seamless"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="graph">
        <iframe src="/src/assets/graphs/avg_rain_ashdod.html" width="100%" height="100%" style="border:none;" seamless="seamless"></iframe>
      </div>
    </div>
  </div>

    <div class="column">
      <div class="row">
      <div class="graph">
        <iframe src="/src/assets/graphs/ashdod_tel_aviv_avg_rain.html" width="100%" height="100%" style="border:none;" seamless="seamless"></iframe>
      </div>
    </div>

  </div>
</div>
