<style>
    .wrapper {
        display: flex;
        flex-direction: row;
        backdrop-filter: blur(20px);
        height: 70px;
    }
    .navbar-logo {
        margin-left: 0.5%;
        margin-top: 0.5%;
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    }
    .navbar-logo h1 {
        display: inline;
        opacity: 85%;
        background: linear-gradient(90deg, rgba(253,45,29,1) 0%, rgba(252,176,69,1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }
    .navbar-logo img {
        width: 3%;
        height: auto;
        opacity: 85%;
    }
    .navbar-links {
        display: flex;
        align-items: center;
        gap: 0.73rem;
    }
    .navbar-actions{
        display: flex;
button{
    background: transparent;
    border: none;
    cursor: pointer;
}
}

</style>

<nav class="navbar" dir="rtl">
    <div class="wrapper">
        <div class="navbar-actions">
            <!-- <mat-button>actions</mat-button>Add login/logout buttons or user-related actions here -->
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
        </div>

        <div class="navbar-logo">
            <h1> BGU Meteorological Service </h1>
            <img src="assets/img/bgulogo.png"/>
        </div>
    </div>
</nav>