
<nav class="navbar">
    <div class="wrapper">
        <div class="tabs" >
            <a routerLink="/graphs" routerLinkActive="active-link">{{ 'graphs' | translate }}</a>
            <a routerLink="/models" routerLinkActive="active-link">{{ 'models' | translate }}</a>
            <a routerLink="/climate" routerLinkActive="active-link">{{ 'climate' | translate }}</a>
            <a routerLink="/agriculture" routerLinkActive="active-link">{{ 'agriculture' | translate }}</a>
        </div>
        <div class="navbar-logo" routerLink="/" >
            <h1> {{ 'BGU Meteorological Service' }} </h1>
            <img src="assets/img/bgulogo.png"/>
        </div>
    </div>
</nav>
