<div class="current-weather">

  <div class="dropdown">
    <mat-select
      [(ngModel)]="selectedSite"
      (selectionChange)="onDropdownChange($event)"
    >
      <mat-option *ngFor="let site of allSites" [value]="site">
        {{ site.siteName | translate }}
      </mat-option>
    </mat-select>
  </div>

  <div class="row">
    <div class="temperature">
      <img ngSrc="assets/img/sun-icon.png" height="100" width="100"/>
      <div class="temperature-text">{{ temperature }}°</div>
    </div>
    <div class="weather-info">
      <div class="wind-speed">{{ 'Wind Speed' | translate }}: {{ windSpeed }} {{ 'm/s' | translate }}</div>
      <div class="wind-direction">{{ 'Wind Direction' | translate }}: {{ windDirection }}</div>
      <div class="uv-level">{{ 'UV Level' | translate }}: {{ uv }}</div>
      <div class="humidity">{{ 'Humidity' | translate}}: {{ humidity }}%</div>
    </div>
  </div>
</div>
<app-alerts></app-alerts>
