<div class="current-weather">
  <div class="dropdown">
    <mat-select
      [(ngModel)]="selectedSite"
      (selectionChange)="onDropdownChange($event)"
    >
      <mat-option *ngFor="let site of allSites" [value]="site">
        {{ site.siteName | translate }}
      </mat-option>
    </mat-select>
  </div>
  <div class="weather-info">
    <div class="temperature">{{ allSitesData["temperature"] }}°C</div>
    <div class="wind-speed">{{ 'Wind Speed' | translate }}: {{ allSitesData["windSpeed"] }} {{ 'm/s' | translate }}</div>
    <div class="wind-direction">{{ 'Wind Direction' | translate }}: {{ allSitesData["windDirection"] }}</div>
    <div class="uv-level">{{ 'UV Level' | translate }}: {{ allSitesData["uv"] }}</div>
    <div class="humidity">{{ 'Humidity' | translate}}: {{ allSitesData["humidity"] }}%</div>
  </div>
</div>
<app-alerts></app-alerts>
