.current-weather {
  background: rgb(243 243 243 / 65%);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  width: 66vw;
  height: 50vh;
  justify-content: space-between;
  backdrop-filter: blur(10px);
}

::ng-deep .mat-select-panel {
  max-height: 200px; /* Set the max-height as desired */
  font-size: 6vw;
}

//.dropdown{
//}

//.dropdown mat-select{
//  font-size: 6vw;
//}


.cdk-overlay-pane
{
  width: fit-content !important;
}
