:host {
  margin-left: auto;
}

.current-weather {
  background: rgb(243 243 243 / 65%);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  width: 66vw;
  height: 50vh;
  justify-content: space-between;
  backdrop-filter: blur(10px);
}

.cdk-overlay-pane
{
  width: fit-content !important;
}
