.container {
  background-image: url("../assets/img/1111898.jpg");
  //   background-color: black;
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
  padding: 15px;
  height: calc(100vh - 100px);
}

body,
canvas {
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
}
