
.sidebar {
  //height: 25%;
  height: 15%;
  width: 4%;
  position: absolute;
  top: 10%;
  left: 1%;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  display: flex;
  flex-direction: column;
  gap: 6px;
  a {

    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }

  h1{
      display: flex;
      justify-content: center;
      font-family: 'Open Sans';
    margin:0;
    font-size: 16px;
  }
}


.layout-type-icon{
  display: flex;
  justify-content: center;
  img{
    width: 60%;
    opacity: 40%;
  }
  img:hover {
    opacity: 100%;
    transform: scale(1.1);
    cursor: pointer;
  }
  img.chosen{
    opacity: 100%;
  }
}

