<div class="alerts">
  <div class="title">
    <h2 class="title">{{"Weather Alerts"}}</h2>
    <div [ngStyle]="{'background': getBackgroundColorByLevel()}" class="level">
      !
    </div>
  </div>
  <div *ngIf="!noAlerts" class="alerts-list">
    <div class="alert" *ngFor="let alert of alerts">
        <h3>{{ alert.title }}</h3>
        <p>{{ alert.description }}</p>
    </div>
  </div>
  <div *ngIf="noAlerts" class="no-alerts">
    <h2 class="no-alerts-title">No Severe Warnings!</h2>
  </div>
</div>
